@charset "UTF-8";
	body {
		font-family: "Raleway", Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 200;
		line-height: 1.7857;
		letter-spacing: 0.075em;
		color: #33001a !important;
		background-color: #fff;
}

#contact{
	background-color: #f0f0f0;
}


/* md */
@media (min-width: 992px) and (max-width: 1199px) {

	.carousel-caption h1 {
		font-size:26px;
		margin-bottom:0;
		line-height:27px;
		letter-spacing:2px;
		font-weight:100;
	}

	.carousel-caption h2 {
		font-size:51px;
		font-weight:600;
		margin-top:0px;
		text-transform:lowercase;
		letter-spacing:2px;
		margin-bottom:20px;
	}

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {

	.carousel-caption h1 {
		font-size:26px;
		margin-bottom:0;
		line-height:27px;
		letter-spacing:2px;
		font-weight:100;
	}

	.carousel-caption h2 {
		font-size:51px;
		font-weight:600;
		margin-top:0px;
		text-transform:lowercase;
		letter-spacing:2px;
		margin-bottom:20px;
	}

	#about-us .about-us {
		padding-left: 0;
		padding-right: 0;
		padding-top: 9%;
	}

}

/* xs */
@media (max-width: 767px) {

	.carousel-caption h1 {
		font-size:16px;
		margin-bottom:0;
		line-height:27px;
		letter-spacing:2px;
		font-weight:100;
	}

	.carousel-caption h2 {
		font-size:31px;
		font-weight:600;
		margin-top:0px;
		text-transform:lowercase;
		letter-spacing:2px;
		margin-bottom:20px;
	}

}