@charset "UTF-8";
	body {
		font-family: "Raleway", Helvetica, Arial, sans-serif;
		font-size: 14px;
		font-weight: 200;
		line-height: 1.7857;
		letter-spacing: 0.075em;
		color: #33001a !important;
		background-color: #fff;
}

#contact{
	background-color: #f0f0f0;
}


/* md */
@media (min-width: 992px) and (max-width: 1199px) {

	.carousel-caption {
		top: 40%
}

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {

	.carousel-caption {
		top: 40%
}

}

/* xs */
@media (max-width: 767px) {

	.carousel-caption {
		top: 40%
}
}